<!DOCTYPE html>
<html>
<head>
    <title>Znajdź swój typ</title>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

{% block content %}
{% endblock %}
<div id="footer">
    <div id="left_counter">
        Zostało Ci&nbsp<strong>{{ selections_left }}</strong>&nbspzdjęć do wybrania.
    </div>
    <div id="right_github">
        <div id="gitimg">
            <a href="https://github.com/itachikryst/BA_thesis">
            <img src="{% static 'img/github.png' %}" alt="GitHub: https://github.com/itachikryst/BA_thesis"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>