{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="app-wrapper">
    <div class="text-section">
        <h1>Witaj w module wyboru mojego projektu licencjackiego</h1>
        <p>
            Ten moduł programu służy ocenie tego, jak wybierasz osoby na podstawie ich wyglądu fizycznego. Zaznaczaj czy
            podobają Ci się osoby na zdjęciach, aż uzyskasz wyniki.
        </p>
    </div>
    <div class="container">
        <div class="wrapper">
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="button like" name="likebutton">LIKE</button>
            </form>
            <div class="image-container">
                <img src="{% static photo_loc %}" alt="" id="image"/>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="button dislike" name="dislikebutton">DISLIKE</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}